○ referral-bot.service - Telegram Referral Bot
     Loaded: loaded (]8;;file://bljhupaepg/etc/systemd/system/referral-bot.service/etc/systemd/system/referral-bot.service]8;;; [0;1;38;5;185mdisabled[0m; preset: [0;1;32menabled[0m)
     Active: inactive (dead)
